<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>

<form th:method="PATCH" th:action="@{/project/{id}(id=${project.getId()})}" th:object="${project}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description">
    <br/>
    <label for="dateStart">Enter date start: </label>
    <input type="text" th:field="*{dateStart}" id="dateStart">
    <div style="color: red" th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}">Email error</div>
    <br/>
    <label for="dateEnd">Enter date end: </label>
    <input type="text" th:field="*{dateEnd}" id="dateEnd">
    <div style="color: red" th:if="${#fields.hasErrors('dateEnd')}" th:errors="*{dateEnd}">Email error</div>
    <br/>

    <input type="submit" value="Update!"/>
    <br/>

</form>

<a  th:href="@{/project/{projectId}/task/new(projectId=${project.getId()})}" href="#"
    class="btn btn-default">Create new task</a>

<table class="table table-bordered">
   <thead>
   <tr>
      <th scope="col">Task name</th>
      <th scope="col">Id task</th>
      <th scope="col">Description</th>
      <th scope="col">Date start</th>
      <th scope="col">Date end</th>
   </tr>
   </thead>
   <tbody>

   <div th:each="task : ${task}">
      <tr>
         <td><a th:href="@{/project/{projectId}/task/{id}(projectId=${task.getProject().getId()}, id=${task.getId()})}"
                th:text="${task.getName()}"></a></td>
         <td><a th:text="${task.getId}"></a></td>
         <td><a th:text="${task.getDescription}"></a></td>
         <td><a th:text="${task.getDateStart}"></a></td>
         <td><a th:text="${task.getDateEnd}"></a></td>
      </tr>
   </div>

   </tbody>
</table>

</body>
</html>