<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
</head>
<body>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Project name</th>
        <th scope="col">Id project</th>
        <th scope="col">Description</th>
        <th scope="col">Date start</th>
        <th scope="col">Date end</th>
    </tr>
    </thead>
    <tbody>

    <div th:each="project : ${project}">
        <tr>
            <td><a th:href="@{/project/{id}(id=${project.getId()})}" th:text="${project.getName()}"></a></td>
            <td><a th:text="${project.getId}"></a></td>
            <td><a th:text="${project.getDescription}"></a></td>
            <td><a th:text="${project.getDateStart}"></a></td>
            <td><a th:text="${project.getDateEnd}"></a></td>
        </tr>
    </div>


    </tbody>
</table>

<br/>

<a class="btn btn-primary" href="/project/new" role="button">Create new project</a>


</body>
</html>