<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All tasks</title>
</head>
<body>

<div th:each="task : ${task}">
    <a th:href="@{/project/{projectId}/task/{id}(projectId=${task.getProject().getId()}, id=${task.getId()})}"
       th:text="${task.getName()+ ', ' + task.getDescription + ', ' +
        task.getDateStart + ', ' + task.getDateEnd + ', ' + task.getProjectId}">user</a>
</div>

<br/>
<hr/>

<a a  th:href="@{task/new}" href="#"
   class="btn btn-default">Create new task</a>

</body>
</html>